**/Logs/
Logs/
**/Temp/
Temp/
**/UserSettings/
UserSettings/
**/Documentation~/
Documentation~/
.vs/
obj/
Export/
!Assets/
!Trailer/Export
*.data
*.csproj
*.log
UserSettings/
**/Library/Artifacts/
**/ArtifactDB*
**/Library/UIElements
**/Library/CurrentLayout-default.dwlt
**/Library/InspectorExpandedItems.asset
**/Library/LastSceneManagerSetup.txt
**/Library/SceneVisibilityState.asset
**/Library/Occlusion
